<!-- Public view of a tweet -->

<div id="public-tweet" class="panel panel-info">

  <header class="panel-heading">
    <blockquote class="twitter-tweet"><p>Could not get original tweet.</p><a href="<%= @tweet.api_twitter_url %>"></a></blockquote>
    <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </header>

  <article class="well well-lg">
    <span class="translated-to">Translated to...</span>
    <p id="public-tweet-text"><%= @tweet.text %></p> 
    <p id="public-tweet-author"><%= ('Translated by %s' % link_to(@tweet.user.name, @tweet.user.twitter_url)).html_safe %></p>
    <a href="<%= @tweet.twitter_url %>" data-datetime="<%= @tweet.created_at %>"></a>
  </article>

  <footer class="panel-footer">
    <i class="icon-external-link"></i> <%= link_to 'See it on Twitter', @tweet.twitter_url %>
  </footer>

</div>
